<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>管理員登錄</title>
	<link href="./Public/Admin/Css/public.css" rel="stylesheet" type="text/css" />
	<link href="./Public/Admin/Css/login.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript">

	</script>
</head>

<body>
	<center>
		<form name="form1" method="post" action="?c=User&a=loginCheck" id="form1" onSubmit="return checkForm();">
			<div id="position">
				<div id="inposition">

					        <div class="login-right">
						<div id="UpdatePanel1">
							            <div class="login-right-title">後台管理系統</div>
							                <div class="login-right-input">
								                <table width="200" border="0" cellspacing="0" cellpadding="0">
									                <tr>
										                    <td nowrap="nowrap" align="right" id="tdLeft">用戶名：</td>
										                        <td><input name="username" type="text" id="username"
												class="input" size="10" maxlength="20" /></td>
									</tr>
									<tr>
										<td style="height:30px" align="right">密&nbsp;&nbsp;碼：</td>
										<td style="height:30px"><input name="password" type="password" id="password"
												class="input" size="10" maxlength="32" /></td>
									</tr>
									<tr>
										<td align="right">驗證碼：</td>
										<td><input id="verify" name="verify" class="input2" maxlength="4">&nbsp;<img
												style="float:right;cursor:pointer;" width="70" src=" ?c=User&a=captcha"
												onClick="this.src='?c=User&a=captcha&'+Math.random()" /></td>
									</tr>
									<tr>
										<td style="height: 30px" align="right"></td>
										<td style="height: 30px" nowrap="nowrap">
											<input type="submit" name="btnLogin" value="登 錄" id="btnLogin"
												class="button" />
											<input type="reset" name="btnTest" value="清 除" id="btnTest"
												class="button" />
										</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</center>
	<!--頂部背景DIV-->
	<div id="header"></div>
	<!--歡迎圖片-->
	<div id="content"><img src="./Public/Admin/Images/login-wel.gif" /></div>
	<div id="buttom">
		<div class="copy2">
			<nobr>Copyright &copy; 2006-<?php echo date("Y")?>&nbsp;&nbsp;itcast.cn All Rights Reserved.</nobr>
		</div>
		<div class="copy"><img src="./Public/Admin/Images/login-copy.gif" /></div>
	</div>
</body>

</html>
<script language="javascript">

	function checkForm() {
		//定義用戶名、密碼正則表達式
		let reg1 = /^(\w{5,15})$/;
		if (!reg1.test(document.form1.username.value)) {
			alert("用戶名稱沒有填寫或格式不正確！");
			document.form1.username.focus();
			return false;
		} else if (!reg1.test(document.form1.password.value)) {
			alert("用戶密碼沒有填寫或格式不正確！");
			document.form1.password.focus();
			return false;
		}
	}
</script>