<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link type="text/css" rel="stylesheet" href="./Public/Admin/Css/public.css" />
<script type="text/javascript" src="./Public/Admin/Js/jquery.js"></script>
<script type="text/javascript" src="./Public/Admin/Js/menu.js"></script>
<title>管理左邊頁</title>
<base target="main" />
</head>
<body>
<div class="left">
	<div><img src="./Public/Admin/Images/menu_topimg.gif" /></div>
	<div class="title"><b>選項</b></div>
	<div><img src="./Public/Admin/Images/menu_topline.gif" /></div>
	<div class="content">
		<ul class="menu collapsible">

			<li><a href="#">年度業務狀況</a>
				<ul class="acitem">
					<li><a href='?c=Personnel&year=89'>89年</a></li>
					<li><a href='?c=Personnel&year=90'>90年</a></li>
				</ul>
			</li>
			<li><a href="#">業務部銷售狀況</a>
				<ul class="acitem">
					<li><a href='?c=Department&year=89'>89年</a></li>
					<li><a href='?c=Department&year=90'>90年</a></li>
				</ul>
			</li>
			<li><a href="#">年度品項銷售狀況</a>
				<ul class="acitem">
					<li><a href='?c=Season&year=89'>89年</a></li>
					<li><a href='?c=Season&year=90'>90年</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>
</body>
</html>